@import "/node_modules/modern-normalize/modern-normalize.css";
@import "@fontsource/barlow"; // Defaults to weight 400
@import "@fontsource/barlow/400.css"; // Specify weight
@import "@fontsource/barlow/400-italic.css"; // Specify weight and style
// @import "/node_modules/purecss/build/grids-min.css";
// @import "/node_modules/purecss/build/grids-responsive-min.css";
@import "/src/component/css/grids-min.css";
@import "/src/component/css/grids-responsive-min.css";

// Переменные
$dark: #232323;
$light: #fafafa;
$ui-active: #d9d9d9;
$ceramic: #c69978;
$ui-disabled: #d2d2d2;
$ui-error: #db0c35;

/* * {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
} */

/* Водим правила:  */
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
figure {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    margin: 0;
}

html {
    font-family: "Barlow", "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    // для всей страницы
    width: 100%;
    padding: 0 0.625rem; //10px
}

@mixin title {
    //в миксине только св-ва которые переиспользуются
    font-weight: 400;
    text-transform: uppercase;
    color: $dark;
    text-align: center;
}

@mixin p {
    font-weight: 400;
    font-size: 1rem; //16px
    color: $dark;
}
@mixin span {
    font-weight: 500;
    color: $ceramic;
}

@mixin button {
    cursor: pointer;
    display: block;
    padding: 0 0.625rem;
    background-color: transparent;
    border: 0.0625rem solid $dark; //1px
    border-radius: 0.125rem; //2px
    text-align: center;
    color: $dark;
    text-transform: uppercase;
    font-weight: 400;
}

@mixin form {
    font-weight: 400;
    font-size: 0.875rem; // 14px
    line-height: 200%;
    color: $dark;
}
@mixin input {
    border: 0.0625rem solid #e2e1e5; //1px
    border-radius: 0.125rem; //2px
    padding: 0.625rem 0.9375rem; //10px 15px
    width: 100%;
    background: #fff;
    &:focus {
        border: none;
        outline: 0.0625rem solid $dark;
    }
    &::placeholder {
        color: $ui-disabled;
    }
}

body {
    background-color: $light;
}

@media screen and (min-width: 48rem) {
    .container {
        //max-width: 45rem; //720px
        padding: 0 1.5rem; //24px

        //margin: 0 auto;
    }
}

@media screen and (min-width: 75rem) {
    .container {
        //max-width: 71.25rem; //1140px
        padding: 0 1.875rem 0 1.875rem;
    }
}

@media screen and (min-width: 120rem) {
    .container {
        // max-width: 90rem;
        padding: 0 15rem 0 15rem;
    }
}
